<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id = "menu_hospital_root" name = "HMS" sequence = "35" />
    <menuitem id = "menu_frontdesk" name = "Front Desk" parent= "menu_hospital_root" />
    <menuitem id = "menu_patients" name = "Patients" parent= "menu_frontdesk" action = "action_hospital_patient" />
    <menuitem id="menu_appointments" name="Appointments" parent="menu_frontdesk" action="action_hospital_appointment" />
    <menuitem id="menu_doctors" name="Doctors" parent="menu_frontdesk" action="action_hospital_doctor" />
    <menuitem id="menu_appointment_readonly" name="View appointment" parent="menu_frontdesk" action="action_hospital_appointment_readonly" />

</odoo>